## WORLD BANK DATA ANALYSIS

In [33]:
# Importing the required libraries
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns

# For better visualization aesthetics
sns.set(style="whitegrid")
%matplotlib inline

In [34]:
#Loading of the dataset
df_project = pd.read_csv('world_bank_data_2025.csv')

### Data Exploration

In [35]:
# Display the first 10 rows of the DataFrame
df_project.head(10)

,country_name,year,Inflation (CPI %),GDP (Current USD),GDP per Capita (Current USD),Unemployment Rate (%),"Interest Rate (Real, %)","Inflation (GDP Deflator, %)",GDP Growth (% Annual),Current Account Balance (% GDP),Government Expense (% of GDP),Government Revenue (% of GDP),Tax Revenue (% of GDP),Gross National Income (USD),Public Debt (% of GDP),Unnamed: 15,Unnamed: 16,Unnamed: 17
0,Aruba,2010,2.078140719,2.453597e+09,24093.14015,NaN,11.666131,-1.223407,-2.733457,-18.752537,NaN,NaN,NaN,2.313385e+09,NaN,NaN,NaN,NaN
1,Aruba,2011,4.316297422,2.637859e+09,25712.38430,NaN,4.801974,4.005674,3.369237,-9.877656,NaN,NaN,NaN,2.391841e+09,NaN,NaN,NaN,NaN
2,Aruba,2012,0.627471993,2.615208e+09,25119.66554,NaN,8.200875,0.184033,-1.040800,3.473451,NaN,NaN,NaN,2.499118e+09,NaN,NaN,NaN,NaN
3,Aruba,2013,-2.372065243,2.727850e+09,25813.57673,NaN,10.709709,-1.995948,6.431483,-11.813206,NaN,NaN,NaN,2.563517e+09,NaN,NaN,NaN,NaN
4,Aruba,2014,0.421440919,2.790850e+09,26129.83906,NaN,3.213869,3.958897,-1.586575,-4.658577,NaN,NaN,NaN,2.688102e+09,NaN,NaN,NaN,NaN
5,Aruba,2015,0.474763597,2.962907e+09,27458.22533,NaN,0.157925,6.831287,-0.623626,3.994142,NaN,NaN,NaN,2.838144e+09,NaN,NaN,NaN,NaN
6,Aruba,2016,-0.931195987,2.983635e+09,27441.52966,NaN,7.982852,-1.002800,1.719625,4.731778,NaN,NaN,NaN,2.848406e+09,NaN,NaN,NaN,NaN
7,Aruba,2017,-1.028281788,3.092429e+09,28440.05196,NaN,9.789287,-3.178167,7.048533,1.119795,NaN,NaN,NaN,2.921801e+09,NaN,NaN,NaN,NaN
8,Aruba,2018,3.626041414,3.276184e+09,30082.12764,NaN,2.453045,3.462030,2.397085,-0.591367,NaN,NaN,NaN,3.061557e+09,NaN,NaN,NaN,NaN
9,Aruba,2019,4.257462043,3.395799e+09,31096.20507,NaN,-0.299776,6.017816,-2.232440,2.497110,NaN,NaN,NaN,3.242394e+09,NaN,NaN,NaN,NaN

In [36]:
print(f"The dataset contains {df_project.shape[0]} records and {df_project.shape[1]} variables.\n")
df_project.info()  # Display information about the DataFrame

The dataset contains 3472 records and 18 variables.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3472 entries, 0 to 3471
Data columns (total 18 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   country_name                     3472 non-null   object
 1   year                             3472 non-null   int64
 2   Inflation (CPI %)                2729 non-null   object
 3   GDP (Current USD)                2933 non-null   float64
 4   GDP per Capita (Current USD)     2938 non-null   float64
 5   Unemployment Rate (%)            2795 non-null   float64
 6   Interest Rate (Real, %)          1735 non-null   float64
 7   Inflation (GDP Deflator, %)      2904 non-null   float64
 8   GDP Growth (% Annual)            2912 non-null   float64
 9   Current Account Balance (% GDP)  2563 non-null   float64
 10  Government Expense (% of GDP)    1820 non-null   float64
 11  Government Revenue (% of GDP)    1829 non-null   float64
 12  Tax Revenue (% of GDP)           1833 non-null   float64
 13  Gross National Income (USD)      2796 non-null   float64
 14  Public Debt (% of GDP)           852 non-null    float64
 15  Unnamed: 15                      0 non-null      float64
 16  Unnamed: 16                      0 non-null      float64
 17  Unnamed: 17                      1 non-null      object
dtypes: float64(14), int64(1), object(3)
memory usage: 488.4+ KB

In [37]:
# Summary statistics for numerical variables
df_project.describe()

,year,GDP (Current USD),GDP per Capita (Current USD),Unemployment Rate (%),"Interest Rate (Real, %)","Inflation (GDP Deflator, %)",GDP Growth (% Annual),Current Account Balance (% GDP),Government Expense (% of GDP),Government Revenue (% of GDP),Tax Revenue (% of GDP),Gross National Income (USD),Public Debt (% of GDP),Unnamed: 15,Unnamed: 16
count,3472.000000,2.933000e+03,2938.000000,2795.000000,1735.000000,2904.000000,2912.000000,2563.000000,1820.000000,1829.000000,1833.000000,2.796000e+03,852.000000,0.0,0.0
mean,2017.500000,3.964324e+11,18483.495612,7.841141,5.405051,6.634865,2.853544,-2.363241,27.325359,26.677467,16.969924,4.142238e+11,61.863736,NaN,NaN
std,4.610436,1.749315e+12,27301.814024,5.964358,9.740924,25.820196,6.053786,13.740986,12.642464,18.116253,8.218539,1.799783e+12,40.409792,NaN,NaN
min,2010.000000,3.210541e+07,193.007146,0.100000,-81.132121,-28.760135,-54.336155,-60.877754,0.000136,0.000081,0.000063,5.107533e+07,1.845685,NaN,NaN
25%,2013.750000,6.264757e+09,2280.748732,3.611000,1.734057,1.218347,0.997032,-7.496525,17.511484,17.639153,12.285344,7.475538e+09,33.894232,NaN,NaN
50%,2017.500000,2.587360e+10,6827.668144,5.771000,5.079009,3.223184,3.100442,-2.656009,26.000850,24.821425,16.321438,2.986520e+10,51.651469,NaN,NaN
75%,2021.250000,1.874940e+11,23727.024578,10.731500,8.869434,6.905463,5.355110,1.854710,34.884582,32.700782,21.448658,1.972530e+11,81.930649,NaN,NaN
max,2025.000000,2.772070e+13,256580.515100,35.359000,61.882604,921.535652,86.826748,235.750605,103.725787,344.999451,147.640196,2.757610e+13,249.366027,NaN,NaN

In [38]:
# Check for missing values
missing_values = df_project.isnull().sum()
print(missing_values)

country_name                          0
year                                  0
Inflation (CPI %)                   743
GDP (Current USD)                   539
GDP per Capita (Current USD)        534
Unemployment Rate (%)               677
Interest Rate (Real, %)            1737
Inflation (GDP Deflator, %)         568
GDP Growth (% Annual)               560
Current Account Balance (% GDP)     909
Government Expense (% of GDP)      1652
Government Revenue (% of GDP)      1643
Tax Revenue (% of GDP)             1639
Gross National Income (USD)         676
Public Debt (% of GDP)             2620
Unnamed: 15                        3472
Unnamed: 16                        3472
Unnamed: 17                        3471
dtype: int64

### Data Cleaning
- **Handling the missing values**

In [39]:
# I drop the last three columns as they are not relevant for the analysis
df_project.drop(columns=['Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17'])

,country_name,year,Inflation (CPI %),GDP (Current USD),GDP per Capita (Current USD),Unemployment Rate (%),"Interest Rate (Real, %)","Inflation (GDP Deflator, %)",GDP Growth (% Annual),Current Account Balance (% GDP),Government Expense (% of GDP),Government Revenue (% of GDP),Tax Revenue (% of GDP),Gross National Income (USD),Public Debt (% of GDP)
0,Aruba,2010,2.078140719,2.453597e+09,24093.140150,NaN,11.666131,-1.223407,-2.733457,-18.752537,NaN,NaN,NaN,2.313385e+09,NaN
1,Aruba,2011,4.316297422,2.637859e+09,25712.384300,NaN,4.801974,4.005674,3.369237,-9.877656,NaN,NaN,NaN,2.391841e+09,NaN
2,Aruba,2012,0.627471993,2.615208e+09,25119.665540,NaN,8.200875,0.184033,-1.040800,3.473451,NaN,NaN,NaN,2.499118e+09,NaN
3,Aruba,2013,-2.372065243,2.727850e+09,25813.576730,NaN,10.709709,-1.995948,6.431483,-11.813206,NaN,NaN,NaN,2.563517e+09,NaN
4,Aruba,2014,0.421440919,2.790850e+09,26129.839060,NaN,3.213869,3.958897,-1.586575,-4.658577,NaN,NaN,NaN,2.688102e+09,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3467,Zimbabwe,2021,98.54610509,2.724052e+10,1724.387731,9.540,-31.795551,113.294981,8.468017,1.278300,NaN,NaN,NaN,2.662178e+10,NaN
3468,Zimbabwe,2022,104.7051706,3.278975e+10,2040.552459,10.087,-36.833393,266.987152,6.139263,0.930064,NaN,NaN,NaN,3.202694e+10,NaN
3469,Zimbabwe,2023,NaN,3.523137e+10,2156.034004,8.759,-73.540441,921.535652,5.336730,0.379995,NaN,NaN,NaN,3.479607e+10,NaN
3470,Zimbabwe,2024,NaN,NaN,NaN,8.554,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3471,Zimbabwe,2025,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Data Visualization

#### Simple visualizations
- To get a better view of the various measures